img {
  width: 300px;
  height: 400px;
}
.name {
  padding-left: 100px;
  padding-right: 100px;
  width: 33.3%;
  background: white;
  opacity: 0.8;
}
.borders{
  padding-left: 120px;
  padding-right: 120px;
  display: flex;
  flex-direction: row;
}
#des{
  margin-top: -4px;
}
#main{
  display: flex;
  flex-direction: row;
}
