<div id="page">
  <ul class="leanguage">
    <li> Русский </li>
    <li> English (US) </li>
    <li> Türkçe </li>
    <li> Bahasa Indonesia </li>
    <li> Português (Brasil) </li>
    <li> 中文(简体) </li>
    <li> Қазақша </li>
    <li> Deutsch </li>
    <li> 한국어 </li>
    <li> Shqip </li>
    <li> Español </li>
  </ul>
</div>
<div id="curve" ></div>
<div id="children">
  <ul class="leanguage">
    <li class="ch"> Регистрация на Pull&&Bear</li>
    <li class="ch"> Вход</li>
    <li class="ch"> Watch </li>
    <li class="ch"> Люди </li>
    <li class="ch"> Страницы </li>
    <li class="ch"> Категории </li>
    <li class="ch"> Места </li>
    <li class="ch"> Marketplace </li>
    <li class="ch"> Группы </li>
    <li class="ch"> Instagram </li>
    <li class="ch"> Местные </li>
    <li class="ch"> Благотворительные акции </li>
    <li class="ch"> Услуги </li>
    <li class="ch"> О нас </li>
    <li class="ch"> Конфиденциальность </li>
    <li class="ch"> Файлы cookie </li>
    <li class="ch"> Выбор рекламы </li>
    <li class="ch"> Условия использования </li>
    <li class="ch"> Справка </li>
    <li class="ch"> Настройки </li>
  </ul>
</div>
<div id="facebook">
  <span> Pull&&Bear © 2020</span>
</div>
