<nav>
  <ul id="nav_list" >
    <li><a routerLink="/forall" (mouseenter)="mouseLeave()">For All</a>|</li>
    <li><a routerLink="/forman" (mouseenter)="mouseEnter(1)" >Man</a>|</li>
    <li><a routerLink="/forwoman" (mouseenter)="mouseEnter(2)" >Woman</a></li>
  </ul>
  <ul id="nav_list_sign">
    <li><a routerLink="/signin">Sign in</a></li>
    <li><a routerLink="/signup">Sign up</a>|</li>
  </ul>
</nav>

<div class="dropdown_menu" *ngIf="categories" (mouseleave)="mouseLeave()">
  <ul id="categories_dropdown">
    <li *ngFor="let category of categories">
      <a href="{{prevCatId}}/{{category.id}}/products">{{category.name}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>
