<div class="main">
  <div class="first">
    <img src="https://static.pullandbear.net/2/static2/itxwebstandard/images/home/2020-03/31/Sudaderas_Man.jpg">
    <div class="pito">
      <p>Shop</p>
      <strong> Sweatshirts</strong>
      <div class="texts" >
        <br>
        <a routerLink="/category/2/products">
          SHOP
        </a>
      </div>
    </div>
  </div>

  <div class="second">
    <img class="screen" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/home/2020-04/07/Camisetas_Woman.jpg">
    <div class="pito">
      <p>Shop</p>
      <strong> T-Shirt</strong>
      <div class="texts" >
        <br>
        <a routerLink="/category/6/products">
          SHOP
        </a>
      </div>
  </div>
  </div>

</div>
