<img src="https://static.pullandbear.net/2/static2/itxwebstandard/images/home/2020-03/31/Sudaderas_Man.jpg">

  <div class="pito">
    <div class="module">
     Shop
      <br>
      <strong> Sweatshirts</strong>
    </div>
    <div class="bottom" >
    <a routerLink="/category/2/products">
    SHOP
    </a>
    </div>
  </div>

<img class="screen" src="https://static.pullandbear.net/2/static2/itxwebstandard/images/home/2020-04/07/Camisetas_Woman.jpg">

<div class="pitos">
  <div class="modules">
    Shop
    <br>
    <strong> T-Shirt</strong>
  </div>
  <div class="bottoms" >
    <a routerLink="/category/6/products">
      SHOP
    </a>
  </div>
</div>
