<div class="body">
  <hr style="border-width:3px;" style="border-style: inset;">
  <div class="bottomMain">
    <div >
      <p>Our Address </p>
      <p>Kazakhstan, region Almaty, Tole bi district 59 </p>
    </div>
    <div >
      <p>Contact us on :</p>
      <p>8-702-658-59-60;8-72-42-22-16-04 or with email address : hochuotdyh.orda@gmail.com</p>
    </div>
    <div >
      <p>How to get : </p>
      <p> Go through <a href="">link</a> to open </p>
    </div>
  </div>
  <div class="bottomMain">
    <p>Copyright © 2017-2022 All rights reserved. Full or partial copying of materials is allowed only with the obligatory installation of an active hyperlink to the site. </p>
  </div>
</div>
