<div class="body">
  <hr style="border-width:3px;" style="border-style: inset;">
  <div class="bottomMain">
    <div >
      <p>Наш адрес : </p>
      <p>Казахстан, город Кызылорда, дачный поселок "Ягодка" </p>
    </div>
    <div >
      <p>Свяжитесь с нами по телефону : </p>
      <p>8-702-658-59-60;8-72-42-22-16-04 или же по email адресу : hochuotdyh.orda@gmail.com</p>
    </div>
    <div >
      <p>Маршруты : </p>
      <p> Переходите по <a href="">ссылке</a> что бы узнать маршрут </p>
    </div>
  </div>
  <div class="bottomMain">
    <p>Copyright © 2017-2022 Все права защищены. Полное или частичное копирование материалов допускается только при обязательной установке активной гиперссылки на сайт. </p>
  </div>
</div>
