<div class="borders" *ngIf="products">
  <div id="main" *ngFor="let product of products">
    <div id="left">

      <img src="{{product.img}}">
      <img src="{{product.img3}}">
    </div>

    <div id="mid">
      <img src="{{product.img2}}">

      <img src="{{product.img4}}">
    </div>
    <div id="right">
      <h1> {{product.name}} </h1>
      <p>{{product.price}}</p>
      <p>Description: {{product.description}}</p>
      <p>Available: {{product.available}}</p>

      <p>Orders: {{product.orderCount}}</p>
      <div id="button_div">
        <BUTTON id="add_btn">Add</BUTTON>
        <BUTTON id="buy_btn">Buy</BUTTON>
      </div>
    </div>

  </div>
</div>

<div class="borders" *ngIf="!products">
  <h1>No Product</h1>
</div>
