<a routerLink="/forall"><h1 id="titlePull" (mouseenter)="mouseLeave()"> Pull && Bear</h1></a>
<nav>
  <ul id="nav_list" >
    <li><a routerLink="/forall" (mouseenter)="mouseLeave()" routerLinkActive="active">For All</a>|</li>
    <li><a routerLink="/forman" (mouseenter)="mouseEnter(1)"  routerLinkActive="active">Man</a>|</li>
    <li><a routerLink="/forwoman" (mouseenter)="mouseEnter(2)"  routerLinkActive="active">Woman</a></li>
  </ul>
  <ul id="nav_list_sign" (mouseenter)="mouseLeave()">
    <li><a routerLink="/sign/in" routerLinkActive="active">Sign in</a></li>
    <li><a routerLink="/sign/up" routerLinkActive="active">Sign up</a>|</li>
  </ul>
</nav>

<div class="dropdown_menu" *ngIf="categories" (mouseleave)="mouseLeave()">
  <ul id="categories_dropdown">
    <li *ngFor="let category of categories">
      <a href="/category/{{category.id}}/products">{{category.name}}</a>
    </li>
  </ul>
</div>

<router-outlet></router-outlet>

<app-bottom-navigation></app-bottom-navigation>
